doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    h1 Pug - node template engine
    #container.col
      if youAreUsingPug
        p You are amazing kheasdasjeso
      else
        p Get on it! cuandasdaaaaaaaaaaaaaaaado
      p.
        Pug ique ondaadasdasdasdadsadasd